/* 设置背景图片 */
html,
body {
  width: 100%;
  height: 100%;
  background-image: url(../images/cool-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bgc {
  position: relative;
  width: 100%;
  height: 100%;
}
.bgc img:nth-child(1),
.bgc img:nth-child(2) {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 20%;
}
.bgc img:nth-child(1) {
  left: 30%;
}
.bgc img:nth-child(2) {
  right: 30%;
}
.bgc div:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 33%;
  font-size: 25px;
  font-weight: 700px;
}
.bgc div:nth-child(4) {
  position: absolute;
  top: 50%;
  right: 31.5%;
  font-size: 25px;
  font-weight: 700px;
}
.bgc .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 22px 8px 22px;
  text-decoration: none;
}
.bgc .btn:hover {
  background: #7361ba;
  background-image: -webkit-linear-gradient(top, #7361ba, #54398f);
  background-image: -moz-linear-gradient(top, #7361ba, #54398f);
  background-image: -ms-linear-gradient(top, #7361ba, #54398f);
  background-image: -o-linear-gradient(top, #7361ba, #54398f);
  background-image: linear-gradient(to bottom, #7361ba, #54398f);
  text-decoration: none;
}
.bgc button:nth-child(5) {
  position: absolute;
  bottom: 13%;
  left: 34%;
}
.bgc button:nth-child(6) {
  position: absolute;
  bottom: 23%;
  left: 34%;
}
.bgc button:nth-child(7) {
  position: absolute;
  bottom: 33%;
  left: 34%;
}
.bgc div:nth-child(8) {
  position: absolute;
  bottom: 33%;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
  color: #0ccdf8;
}
.bgc div:nth-child(8) span {
  color: #ffe600;
}
.bgc div:nth-child(9) {
  position: absolute;
  bottom: 23%;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
  color: #0ccdf8;
}
.bgc div:nth-child(9) span {
  color: #ffe600;
}
.bgc .btnr {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 22px 8px 22px;
  text-decoration: none;
}
.bgc button:nth-child(10) {
  position: absolute;
  bottom: 13%;
  right: 34%;
}
.bgc button:nth-child(11) {
  position: absolute;
  bottom: 23%;
  right: 34%;
}
.bgc button:nth-child(12) {
  position: absolute;
  bottom: 33%;
  right: 34%;
}
.bgc div:nth-child(13) {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
  color: #0ccdf8;
}
.bgc div:nth-child(13) span {
  color: #ffe600;
}
.bgc div:nth-child(14) {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  font-size: 55px;
  color: #fefefe;
}
.bgc img:nth-child(15) {
  position: absolute;
  top: 20%;
  right: 30%;
  height: 200px;
  width: 200px;
}
.bgc div:nth-child(16) {
  display: none;
  position: absolute;
  top: 10%;
  left: 33.5%;
  color: red;
  font-weight: 700px;
  font-size: 35px;
}
.bgc div:nth-child(17) {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  color: yellow;
  font-weight: 700px;
  font-size: 35px;
}
.bgc div:nth-child(18) {
  display: none;
  position: absolute;
  top: 10%;
  right: 31.5%;
  color: red;
  font-weight: 700px;
  font-size: 35px;
}
.bgc div:last-child {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  font-weight: 700px;
  color: #888f8f;
}
